* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --border-color: rgb(132, 250, 210);
  --bg-url: url(./assets/bg-darkmode.jpg);
  --stroke-color: rgba(127, 255, 212, 0.3);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-hover:rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/button-darkmode.svg);
}

.light {
  --text-color: black;
  --border-color: rgb(46, 221, 163);
  --bg-url: url(./assets/bg-lightmode.jpg);
  --stroke-color: rgba(41, 68, 59, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-hover:rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/button-lightmode.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*Background: color url repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  /*
  border: 1px solid blanchedalmond;
  height: 712px;
  */
  padding: 0 24px;
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  /*
  top->right->bottom->left
  margin-right: auto;
  margin-left: auto;
  */
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  display: block;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Switchmode*/
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}
#switch button { 
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.2s; 
}

#switch button:hover {
  outline: 8px solid var(--highlight-hover)
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 2px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/*Pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--border-color);
}

/*Socia Links*/
#social-links {
  display:flex;
  justify-content: center;
  
  padding: 24px 0;

  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*Ajuste do background*/
@media (min-width: 700px) {

}

/*Animação*/
@keyframes slide-in {
  from{
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from{
    left: 50%;
  }
  to {
    left: 0;
  }
}